.text-region {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: auto;
    min-width: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.one-line-diaglog {
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    font-size: 16px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    flex-wrap: nowrap;
    white-space: normal;
    padding-right: 16px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 0;
    margin-bottom: 0;
}

.choice-button {
    background-color: rgba(55, 55, 55, 0.7);
    height: auto;
    flex-wrap: nowrap;
    white-space: normal;
    margin-top: 4px;
    margin-bottom: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left-color: rgb(118, 88, 88);
    border-right-color: rgb(118, 88, 88);
    border-top-color: rgb(118, 88, 88);
    border-bottom-color: rgb(118, 88, 88);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 2px;
    border-bottom-width: 2px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    -unity-font-style: bold;
    padding-left: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}

.choice-button:focus {
    background-color: rgba(0, 0, 0, 0.4);
    border-left-color: rgb(166, 108, 108);
    border-right-color: rgb(166, 108, 108);
    border-top-color: rgb(166, 108, 108);
    border-bottom-color: rgb(166, 108, 108);
}

.choice-button:active {
    background-color: rgba(0, 0, 0, 0.7);
    border-left-color: rgb(204, 112, 112);
    border-right-color: rgb(204, 112, 112);
    border-top-color: rgb(204, 112, 112);
    border-bottom-color: rgb(204, 112, 112);
}
